<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.virginia.cs2110.dqxy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dqxy_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.virginia.cs2110.dqxy.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.virginia.cs2110.dqxy.DiffSetting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.virginia.cs2110.dqxy.GameStart"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.virginia.cs2110.dqxy.BackgroundMode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.virginia.cs2110.dqxy.GameOver"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>